.big-content
	.header-faq.left
		FAQ
	.clearboth
	.contact-content
		.quesans-title.left
			Question: 
		.clearboth
		.quesans.left
			What is this page for?
		.clearboth
		.quesans-title.left
			Answer: 
		.clearboth
		.quesans.left
			This page is created as a connection between tutors and customers, in this page, they can see each others' posts and get the suitable offers.
		.clearboth
		
		.quesans-title.left
			Question: 
		.clearboth
		.quesans.left
			As a tutor, how can I use this page?
		.clearboth
		.quesans-title.left
			Answer: 
		.clearboth
		.quesans.left
			You can post your offers in tab POSTS and see your customer's offers in tab HOME
		.clearboth

		.quesans-title.left
			Question: 
		.clearboth
		.quesans.left
			As a customer, how can I use this page?
		.clearboth
		.quesans-title.left
			Answer: 
		.clearboth
		.quesans.left
			You can post your offers in tab POSTS and see your tutor's offers in tab HOME
		.clearboth
		
		.quesans-title.left
			Question: 
		.clearboth
		.quesans.left
			Why does my post not appear immediately after I post it?
		.clearboth
		.quesans-title.left
			Answer: 
		.clearboth
		.quesans.left
			We have moderators to review your posts before they can be seen in the page, so please wait patiently.
		.clearboth
