.big-content
	.header-faq.left
		Câu hỏi thường gặp
	.clearboth
	.contact-content
		.quesans-title.left
			Question: 
		.clearboth
		.quesans.left
			Phuc rat dep trai va choi dota rat trinh phai khong?
		.clearboth
		.quesans-title.left
			Answer: 
		.clearboth
		.quesans.left
			Tat nhien la the roi ;)).