.big-content {
	padding: 30px 50px 30px 50px;
	.header-link {
		margin-left: 15px;
		font-weight: bold;
		font-size: 22px;
	}
	.header-link {
		a, a:visited{
			font-style: italic;
			text-decoration: none;
		}
	}

	.content {
		padding: 20px;
		margin: 14px;
		height: 500px;
		background-color: #D3D3D3;
		border-radius: 5px;
	}

	.form-content {
		display: inline-block;
		padding: 20px 40px 20px 40px;
		margin: 14px;
		height: auto;
		width: auto;
		background-color: #D3D3D3;
		border-radius: 5px;
		font-size: 14px;
		font-weight: 15px;

		label {
			min-width: 90px;
			margin-top: 10px
		}

		input, #book_description {
			margin-top: 8px;
		}

		#book_description {
			height: 75px;
			width: 208px;
			margin-left: 2px;
		}

		label, input, #book_description {
			float: left;
		}

		.submit_btn {
			float: left;
			margin-left: 220px;
			margin-top: 10px;
		}
	}

	.devise-content {
		padding: 20px 40px 20px 40px;
		margin: 14px;
		height: auto;
		width: 290px;
		background-color: #D3D3D3;
		border-radius: 5px;
		font-size: 14px;
		font-weight: 15px;

		.email-label {
			margin: 15px 34px 0px 0px;
		}
		.email-field {
			margin: 12px 0px 0px 0px;
		}
		.password-label {
			margin: 15px 07px 0px 0px;
		}
		.password-field {
			margin: 12px 0px 0px 0px;
		}
		.remember-checkbox {
			margin: 17px 8px 0px 0px;
		}
		.remember-label {
			margin: 16px 5px 0px 0px;
		}				
		.submit {
			width: 70px;
			height: 28px;
			margin: 10px 5px 0px 0px;
		}
		.links-block {
			margin: 10px 8px 0px 0px;
			font-size: 13px;
			span {
				margin-right: 10px;
			}
			a, a:visited {
				font-style: italic;
				color: blue;
				text-decoration: none;
			}
		}
	}

	.small-content {
		width: 230px;
		height: 90px;
		background-color: #D3D3D3;
		border-radius: 5px;
		padding: 10px;
		margin: 14px;

		.text-content {
			margin-left: 10px;
		}
	}
}

.title {
	font-size: 30px;
	font-weight: bold;
	color: #00BCD1;
	margin-left: 20px;
}

.h1 {
	font-size: 18px;
}

.h2 {
	font-size: 12px;
	line-height: 15px;
}

.divider {
	color: #00BCD1;
	margin-left: 15px;
	font-weight: bold;
	font-size: 20px;
}

.active {
	a, a:visited {
		color: #00BCD1;
	}
}

.inactive {
	a, a:visited {
		color: #D3D3D3;
	}
}

.link{
	a, a:visited{
		color: blue;
		font-style: italic;
		text-decoration: none;
	}
}

.pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .pagination a:hover, .pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child + html .pagination {
    overflow: hidden; 
  }
