// TUTOR-NETWORK
.big-content {
	z-index: 1000;	
	position: relative;
	padding: 30px 50px 30px 50px;
	.header-link {
		margin-left: 15px;
		font-weight: bold;
		font-size: 22px;
		a, a:visited{
			font-style: italic;
			text-decoration: none;
		}
	}

	.content {
		padding: 20px;
		margin: 14px;
		height: auto;
		background-color: #D3D3D3;
		border-radius: 5px;

		.tit {
			font-size: 15px;
			font-weight: bold;
			padding:  10px 15px 3px 15px;
		}

		.cont {
			font-size: 15px;
			font-style: italic;
			padding:  3px 15px 10px 15px;
		}

		.text-content {
			width: 500px;
			padding: 0 30px;
		}

		.post-sample {
			display: none;

			.body-block-waiting {
				border-color: #FFFFCC;
			}

			.body-block-accepted {
				border-color: #94FF70;
			}

			.body-block-denied {
				border-color: #FFA6A6;
			}

			.waiting{
				color: #FF6600;
				background-color: #FFFFCC;
		  }

			.accepted{
				color: #004C00;
				background-color: #94FF70;
		  }

			.denied{
				color: #FF0000;
				background-color: #FFA6A6;
		  }
		  .body-block-accepted, .body-block-waiting, .body-block-denied {
				background-color: white;
				padding: 15px 20px 15px 20px;
				border-radius: 0px 0px 5px 5px;
				border-style:solid;
				border-bottom-style: solid;
				border-right-style: solid;
				border-left-style: solid;
				border-width: 3px;
		  }

			.denied, .accepted, .waiting {
				padding: 15px 20px 15px 20px;
				border-radius: 5px 5px 0px 0px;
			}
		}
	}

	.error {
		color: red;
	}

	.success {
		color: green;
	}

	.waiting {
		color: orange;
	}

	.form-content {
		display: inline-block;
		padding: 20px 40px 20px 40px;
		margin: 14px;
		height: auto;
		width: auto;
		background-color: #D3D3D3;
		border-radius: 5px;
		font-size: 14px;
		font-weight: 15px;

		.field_with_errors {
			display: block;
			height: auto;
		}

		.small-error #error_explanation{
			width: auto;
		}

		.h1 {
			font-size: 20px;
			font-weight: bold;
			//color:	green;
		}

		#error_explanation {
			text-align: left;
			margin-top: 10px;
			border: solid 1px red;
			border-radius: 3px;
			text-align: left;
			padding-left: 10px;
			color: red;
			h2 {
				font-size: 14px;
				font-weight: thinner;
			}
		}

		label {
			margin-top: 10px;
			margin-right: 20px;
			float: left;
		}

  	input {
		 	float: right;
		 	margin-top: 8px;
			width: 230px;
		}

  	select {
		 	float: right;
		 	margin-top: 8px;
			width: 235px;
		}

		.submit_btn {
			float: right;
			margin-top: 10px;
			width: 90px;
		}
		textarea{
			float: right;
			margin-top: 8px;
			height: 100px;
			width: 228px;
		}
	}

	.devise-content {
		display: inline-block;
		padding: 20px 40px 20px 40px;
		margin: 14px;
		min-height: 120px;
		background-color: #D3D3D3;
		border-radius: 5px;
		font-size: 14px;
		font-weight: 15px;

		.field_with_errors {
			display: inline;
		}

		.small-error #error_explanation{
			width: 285px;
		}

		#error_explanation {
			text-align: left;
			margin-top: 10px;
			border: solid 1px red;
			border-radius: 3px;
			text-align: left;
			padding-left: 10px;
			color: red;
			h2 {
				font-size: 14px;
				font-weight: thinner;
			}
		}


		label {
			margin-top: 10px;
			margin-right: 20px;
			float: left;
		}

		.remember-label {
			margin-right: 0;
		}

		.remember-checkbox {
			float: left;
			margin-top: 11px;
		}

		#user_role {
			width: 215px;
			height: 22px;
			float: right;
			margin-top: 8px;
		}

		input {
			margin-top: 8px;
			float: right;
		}

		.submit {
			height: 28px;
			margin-top: 10px;
		}
		.submit2 {
			width: 230px;
			height: 28px;
			margin: 10px 5px 0px 0px;
		}
		.links-block {
			display: inline-block;
			margin: 10px 8px 0px 0px;
			font-size: 13px;
			a, a:visited {
				font-style: italic;
				color: blue;
				text-decoration: none;
			}
		}
	}

	.small-content {
		width: 230px;
		height: 100px;
		background-color: #D3D3D3;
		border-radius: 5px;
		padding: 10px;
		margin: 14px;

		.text-content {
			margin-left: 10px;
		}
	}

	.post-content {
		width: 800px;
		height: auto;
		background-color: #D3D3D3;
		border-radius: 5px;
		padding: 10px;
		margin: 14px;

		.text-content-left {
			width: 180px;
			height: auto;
			margin-left: 10px;
			padding-bottom: 10px;
		}

		.text-content-right {
			width: 600px;
			height: auto;
			margin-left: 10px;
			padding-bottom: 10px;
		}
	}
}

.title {
	font-size: 30px;
	font-weight: bold;
	color: #00BCD1;
	margin-left: 20px;
}

.h1 {
	font-size: 20px;
	font-weight: bold;
}

.h2 {
	font-size: 13px;
	line-height: 15px;
}

.h3 {
	font-size: 25px;
	font-weight: bold;
	font-style: italic;
	color: DarkCyan;
}

.divider {
	color: #00BCD1;
	margin-left: 15px;
	font-weight: bold;
	font-size: 20px;
}

.active {
	a, a:visited {
		color: #00BCD1;
	}
}

.inactive {
	a, a:visited {
		color: #D3D3D3;
	}
}

.link{
	a, a:visited{
		color: blue;
		font-style: italic;
		text-decoration: none;
	}
}

.button{
	padding: 5px 0px 10px 0px;
	color: blue;
	font-style: italic;
	text-decoration: none;
}
